.margin a{
    margin-left: 30px;

}
.margin a:hover{
    background-color: darkgray;
}
.explore{
    background-color: rgb(202, 241, 253);
    padding: 20px;
}
.britness{
    filter: brightness(20%);
}
